<header class="bg-light py-3 shadow-sm sticky-header">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <a href="/" class="logo d-flex align-items-center ml-2">
                <img src="images/logomisnu.png" alt="SafePath Logo" class="logo-img mr-2">
                <span class="logo-text font-weight-bold">SafePath</span>
            </a>
        </div>
        <nav id="nav" class="nav-links">
            <ul class="nav-links" id="navbar">
                <li><a href="/">Home</a></li> 
                <li><a href="/advocacy">Advocacy</a></li>    
                <li><a href="#contact">Contact Us</a></li>                     
                <li><a href="/user/feedback">Feedback</a></li>   
            </ul>
        </nav>
    </div>
</header>
