<!-- Why We Are Here Section -->
<section id="why-we-are-here" class="info-section bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 order-md-1">
                <h2 class="text-left">Why We Are Here</h2>
                <p class="text-left">
                    SafePath provides a secure platform for students to report bullying incidents and seek support. Our goal is to create a safe, inclusive environment where every student feels protected and heard.
                </p>
                <p class="text-left">
                    Bullying can lead to serious mental health issues, including anxiety, depression, and even suicide. By understanding its impact, we can work together to build a culture of empathy and safety.
                </p>
                <p class="text-left">
                    Watch the video below to learn more about the effects of bullying and how we can combat it.
                </p>
            </div>
            <div class="col-md-12 col-lg-6 order-md-2">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YyDJafzuUK4" title="Anti Bullying Animated Short Film Project" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>